[Unit]
Description=Vaccum Pressure Data Collector
Documentation=http://none.fnal.gov
After=network.target
Wants=network.target

[Service]
Type=forking
User=magis-group
Group=fwk
ExecStart=/work1/fwk/magis-group/VacServe/start_vac.sh
Restart=no

[Install]
WantedBy=multi-user.target
